@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

/* Override browser autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #111827 inset !important; /* bg-gray-900 */
    -webkit-text-fill-color: #ffffff !important; /* text-white */
    caret-color: white !important;
}
